ForexSync/Resources/ForexSyncBS.wsdl

<wsdl:definitions
     name="ForexSyncBS"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ForexSync/ForexSync/ForexSyncBS"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/ForexSync/ForexSync/ForexSyncBS"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/ForexSyncBS"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
  <plt:partnerLinkType name="ForexSyncBS_plt" >
    <plt:role name="ForexSyncBS_role" >
      <plt:portType name="tns:ForexSyncBS_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/ForexSyncBS" schemaLocation="ForexSyncBS_table.xsd" />
      </schema>
    </wsdl:types>
    <wsdl:message name="ForexSyncBSSelect_inputParameters">
        <wsdl:part name="ForexSyncBSSelect_inputParameters" element="top:ForexSyncBSSelect_curDate_curCodeInputParameters"/>
    </wsdl:message>
    <wsdl:message name="Forexrate_msg">
        <wsdl:part name="Forexrate" element="top:Forexrate"/>
    </wsdl:message>
    <wsdl:message name="ForexrateCollection_msg">
        <wsdl:part name="ForexrateCollection" element="top:ForexrateCollection"/>
    </wsdl:message>
    <wsdl:portType name="ForexSyncBS_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:ForexrateCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="insert">
            <wsdl:input message="tns:ForexrateCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="update">
            <wsdl:input message="tns:ForexrateCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <wsdl:input message="tns:ForexrateCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="ForexSyncBSSelect">
            <wsdl:input message="tns:ForexSyncBSSelect_inputParameters"/>
            <wsdl:output message="tns:ForexrateCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="queryByExample">
            <wsdl:input message="tns:Forexrate_msg"/>
            <wsdl:output message="tns:ForexrateCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
